h1 {
    font-style: italic;
}
svg {
    width: 400px;
}
.st0 {
    fill:#2a4749;
    stroke:#ffb30088;
    stroke-width: 3px;
}
.background {
    fill:#30271e;
    stroke:#ffb30088;
    stroke-width: 3px;
}